*.class
*.log
.bsp
.vscode/*

# elm
elmui/out/*
elmui/elm-stuff/*

# sbt specific
.cache
.history
.sbt-local/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Sublime
*.sublime-project
*.sublime-workspace

# emacs
TAGS

# vim
*.swp

# bazel
bazel-*
.bazelrc

# js
node_modules/

# vscode wants to put metals directories here
.metals
.bloop
project/metals.sbt
project/project/*
jsui/bosatsu_ui.js

c_runtime/*.o
c_runtime/*.a
c_runtime/test_exe
c_runtime/test_out
c_runtime/boehm_example

.bosatsuc/*
pyout/*
cout/*
docs/src/main/paradox/generated/
