addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
      - libxml2-utils
      - wget
      # Package list from http://bazel.io/docs/install.html
      - pkg-config
      - zip
      - unzip
      - zlib1g-dev
jdk:
  - oraclejdk8

matrix:
  include:
    - scala: 2.12.14
      language: scala
      jdk: openjdk8
      env: PLATFORM=js
      script: sbt "++${TRAVIS_SCALA_VERSION} coreJS/test; paradox; jsapiJS/fullOptJS" && ./elmui/build.sh
      deploy:
        provider: pages:git
        deploy_key: bosatsu_deploy_key
        edge: true

