name: Codecov on main

on:
  push:
    branches:
      - main

jobs:
  testWithCoverageReport:
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2.1.0"
        with:
          fetch-depth: 0
      - uses: "coursier/cache-action@v6"
      - name: "java ${{matrix.java}} setup"
        uses: "actions/setup-java@v5"
        with:
          distribution: "temurin"
          java-version: "${{matrix.java}}"
      - name: "install sbt"
        uses: "sbt/setup-sbt@v1"
      - name: "run tests with coverage"
        run: |
          sbt "coverage; clean; coreJVM/test; cli/test; coverageReport"
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          override_branch: main
    strategy:
      matrix:
        java:
          - '17'
    timeout-minutes: 30
